@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #EAE1CB;
  color: #3A2410;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 300;
}